@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import "tailwindcss";
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Short Stack', cursive;
}
